<p>XIn chao</p>
<p><%= @order.parking_id %></p><br>
<p><%= @order.user_id %></p><br>
<p><%= @order.type_booked %></p><br>
<p><%= @order.day_booked %></p><br>
<p><%= @order.month_booked %></p><br>
<p><%= @order.price %></p>
<p><%= @order.status %></p>
